html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.mh-250 {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.mh-340 {
    max-height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
  margin-bottom: 60px;
}

.lyric-text {

}

.country-flag-sm {
    height: 15px;
    width: 20px;
    transition: all ease 0.24s;
}

.btn-hint-select {
    cursor: pointer;
    margin: 2px 4px 2px 0;
    padding: 1px 3px 3px 3px;
    background-color: #f0f0f0;
    color: #2b2b2b;
    border-radius: 5px;
    white-space: pre-line;
    display: inline-block;
    transition: all ease 0.24s;
}
.btn-hint-select-chosen {
    cursor: pointer;
    margin: 2px 4px 2px 0;
    padding: 1px 3px 3px 4px;
    background-color: #e0e0e0;
    font-weight: 500;
    color: #2b2b2b;
    border-radius: 8px;
    white-space: pre-line;
    display: inline-block;
    transition: all ease 0.24s;
}

.box-hint-initial {
    padding: 0 3px 3px 3px;
    margin-bottom: 2px;
    border-radius: 8px;
    transition: all ease 0.24s;
}
.hint-initial-sm {
    font-size: 12px;
    color: #2b2b2b;
    border-radius: 8px;
    font-weight: normal;
    background-color: #f0f0f0;
    transition: all ease 0.24s;
}
.hint-description {
    color: #2b2b2b;
    font-weight: normal;
    padding: 0 3px 0 3px;
}
.hint-span {
    margin: 0;
    padding: 0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    color: #2b2b2b;
    transition: all ease 0.24s;
}
.hint-span:hover,
.hint-span:active {
    padding: 0 3px 3px 3px;
    font-weight: normal;
    background-color: #f0f0f0;
    color: #2b2b2b;
}

.lyric-text {
    margin-left: 4px;
    padding: 0 1px 1px 0;
    font-weight: 500;
    font-family: 'Trebuchet MS';
    color: #2b2b2b;
    font-size: 1.5rem;
    line-height: 1.55;
    white-space: pre-line;
    transition: all ease 0.24s;
}
.lyric-text-active {
    padding: 2px 4px 1px 4px;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: #2b2b2b;
    transition: all ease 0.24s;
}

.badge-bar {
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    transition: all ease 0.3s;
    bottom: 2px;
    border: 1px solid #f0f0f0;
    margin: 3px 6px 0 6px;
    position: sticky;
}

.badge-icon {
    padding: 4px 4px 4px 7px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    text-align: center;
    color: #2b2b2b;
    transition: all ease 0.24s;
}

.btn-badged {
    padding: 2px 10px 2px 10px;
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: 500;
    border-radius: 0;
    color: #2b2b2b;
    border: 1px solid transparent;
    transition: all ease 0.3s;
}
.btn-badged:hover,
.btn-badged:active {
    border-radius: 8px;
    border: 1px dashed #2b2b2b;
}

.blurred {
    filter: blur(8px);
}

.btn-link {
    padding: 1px;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition: all ease 0.24s;
}
.btn-link:hover,
.btn-link:active {
    color: black;
    background-color: #f0f0f0;
}

.box-sm-part {
    z-index: 9000;
    width: 37%;
    height: 100%;
    border: 0;
    border-right: 1px solid #f0f0f0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    transition: all ease 0.3s;
}
.box-sm-part::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.box-lg-part {
    z-index: 9000;
    width: 63%;
    max-height: 85%;
    min-height: 300px;
    border-radius: 10px 10px 1px 1px;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: -1200px;
    position: fixed;
    display: none;
    transition: all ease 0.3s;
}
.box-lg-part-header {
    width: 63%;
    border-radius: 10px 10px 1px 1px;
    background-color: rgba(248, 249, 250, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
    transition: all ease 0.3s;
}
.box-lg-part-body {
    padding: 14px 9px 14px 9px;
    transition: all ease 0.3s;
}

.box-sm-part-inner {
    z-index: 9000;
    width: 37%;
    min-height: 250px;
    left: 0;
    bottom: -1200px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #f0f0f0;
    position: fixed;
    display: none;
    transition: all ease 0.3s;
}

.box-sm-part-header {
    width: 100%;
    max-height: 75%;
    border-radius: 10px 10px 0 0;
    background-color: rgba(248, 249, 250, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}

.box-lg-part-inner {
    z-index: 9000;
    width: 63%;
    min-height: 250px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    left: 37%;
    bottom: -1200px;
    border-radius: 10px;
    background-color: rgba(253, 253, 253, 0.75);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid #f0f0f0;
    position: fixed;
    display: none;
    transition: all ease 0.3s;
}

.box-lg-inner-part-header {
    width: 100%;
    border-radius: 10px 10px 0 0;
/*    background-color: rgba(248, 249, 250, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);*/
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}

.box-standard {
    border-radius: 10px;
    background-color: transparent;
    transition: all ease 0.3s;
}
.box-bordered {
    padding: 8px;
    border-radius: 10px;
    background-color: #fdfdfd;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}

.div-swiper {
    cursor: pointer;
    border-radius: 99px;
    background-color: #f0f0f0;
    height: 4px;
    width: 33.33%;
    transition: all ease 0.3s;
}
.div-swiper:hover,
.div-swiper:active {
    background-color: #e0e0e0 ;
}

.bottom-navbar {
    z-index: 10000;
    padding: 8px;
    border-radius: 1px 1px 0 0;
    background-color: #f8f9fa;
    position: fixed;
    bottom: 0;
    transition: all ease 0.3s;
}
.btn-bottom-navbar {
    cursor: pointer;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-bottom-navbar:hover,
.btn-bottom-navbar:active {
    background-color: #f0f0f0;
}

.btn-standard {
    cursor: pointer;
    color: black;
    text-align: start;
    background-color: transparent;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-standard:hover,
.btn-standard:active {
    background-color: #f0f0f0;
}

.btn-standard-bolded {
    cursor: pointer;
    color: black;
    font-weight: 500;
    background-color: transparent;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-standard-bolded:hover,
.btn-standard-bolded:active {
    background-color: #f0f0f0;
}

.btn-standard-bordered {
    cursor: pointer;
    text-align: start;
    color: black;
    border: 1px solid #f0f0f0;
    background-color: transparent;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-standard-bordered:hover,
.btn-standard-bordered:active {
    background-color: #f8f9fa;
}

.btn-standard-profile {
    cursor: pointer;
    text-decoration: none;
    height: 45px;
    width: 45px;
    font-size: 28px;
    border-radius: 99px;
    object-fit: cover;
    background-color: #f0f0f0;
    color: black;
    opacity: 1;
    transition: all ease 0.3s;
}
.btn-standard-profile:hover,
.btn-standard-profile:active {
    opacity: 0.9;
}

.btn-classic-styled {
    background-color: #2B2B2B;
    color: #fdfdfd;
}

.btn-text-format {
    min-height: 40px;
    cursor: pointer;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    color: black;
    background-color: transparent;
    transition: all ease 0.3s;
}
.btn-text-format:hover,
.btn-text-format:active {
    background-color: #f0f0f0;
}

.btn-text-format-chosen {
    background-color: #f0f0f0;
    color: black;
}
.btn-text-format-chosen:hover,
.btn-text-format-chosen:active {
    opacity: 0.925;
}

.text-format-color-indicator {
    border-radius: 99px;
    height: 12px;
    width: 12px;
    background-color: #2b2b2b;
    display: inline-block;
    transition: all ease 0.3s;
}
.text-format-indicator {
    padding: 4px;
    border-radius: 10px;
    font-size: 11px;
    background-color: #2b2b2b;
    color: #fdfdfd;
    display: inline-block;
    transition: all ease 0.3s;
}

.ongaku-player-box {
    z-index: 9500;
    height: auto;
    border: 1px solid #f0f0f0;
    min-height: 75px;
    max-height: 75%;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f9fa;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease 0.35s;
    bottom: -1200px;
    display: block;
    position: fixed;
}
.ongaku-player-box-enlarged {
    max-height: 85%;
    min-height: 50%;
    height: auto;
    transition: all ease 0.35s;
}
.ongaku-player-bg-box {
    padding: 6px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.ongaku-player-album-img {
    border-radius: 10px;    
    height: 65px;
    width: 65px;
    object-fit: cover;
    transition: all ease 0.3s;
}
.ongaku-player-album-box {
    border-radius: 10px;
    background-color: #f0f0f0;
    height: 65px;
    width: 65px;
    font-size: 43px;
    text-align: center;
    color: #2b2b2b;
    transition: all ease 0.3s;
}

.ongaku-player-bg-box-enlarged {
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
}
.ongaku-player-album-img-enlarged {
    border-radius: 10px;
    height: 205px;
    width: 205px;
    object-fit: cover;
    transition: all ease 0.3s;
}
.ongaku-player-album-box-enlarged {
    border-radius: 10px;
    background-color: #f0f0f0;
    height: 205px;
    width: 205px;
    font-size: 140px;
    text-align: center;
    color: #2b2b2b;
    transition: all ease 0.3s;
}

.ongaku-player-album-img-sm {
    border-radius: 10px;
    height: 55px;
    width: 55px;
    object-fit: cover;
    transition: all ease 0.3s;
}
.ongaku-player-album-box-sm {
    border-radius: 10px;
    background-color: #f0f0f0;
    height: 55px;
    width: 55px;
    font-size: 34px;
    text-align: center;
    color: #2b2b2b;
    transition: all ease 0.3s;
}
.ongaku-track-name-lbl {
    cursor: pointer;
    font-weight: 500;
    padding: 0;
    border-radius: 10px;
    color: #2b2b2b;
    transition: all ease 0.3s;
}
.ongaku-track-name-lbl:hover,
.ongaku-track-name-lbl:active {
    padding-left: 3px;
    opacity: 0.9;
}

.ongaku-artist-name-lbl {
    cursor: pointer;
    border-radius: 10px;
    padding: 0;
    color: #f0f0f0;
    transition: all ease 0.3s;
}
.ongaku-artist-name-lbl:hover,
.ongaku-artist-name-lbl:active {
    opacity: 0.9;
    padding-left: 3px;
}

.ongaku-track-duration-line {
    cursor: pointer;
    height: 5px;
    width: 100%;
    border-radius: 99px;
    background-color: #e0e0e0;
    transition: all ease 0.3s;
}
.ongaku-track-current-duration-line {
    height: 100%;
    width: 0;
    border-radius: 99px;
    background-color: black;
    transition: all ease 0.4s;
}

.ongaku-track-duration-line-enlarged {
    cursor: pointer;
    height: 8px;
    width: 100%;
    border-radius: 99px;
    background-color: #e0e0e0;
    transition: all ease 0.3s;
}
.ongaku-track-current-duration-line-enlarged {
    height: 100%;
    width: 0;
    border-radius: 99px;
    background-color: black;
    transition: all ease 0.4s;
}

.ongaku-track-duration-line:hover,
.ongaku-track-duration-line:active {
    background-color: #f0f0f0;
}
.ongaku-track-duration-line-enlarged:hover,
.ongaku-track-duration-line-enlarged:active {
    background-color: #f0f0f0;
}

.ongaku-queue-box {
    height: auto;
    max-height: 310px;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
    transition: all ease 0.35s;
}

.ongaku-div-swiper {
    cursor: pointer;
    border-radius: 99px;
    height: 5px;
    width: 33.33%;
    background-color: #f0f0f0;
    transition: all ease 0.3s;
}
.ongaku-div-swiper:hover,
.ongaku-div-swiper:active {
    background-color: #e0e0e0;
}

.btn-ongaku-player {
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    color: #2b2b2b;
    background-color: transparent;
    transition: all ease 0.3s;
}

.btn-ongaku-player-enlarged {
    width: 100%;
    font-size: 1.5rem;
}

.btn-ongaku-player-rounded {
    border-radius: 99px;
}
.btn-ongaku-player:hover,
.btn-ongaku-player:active {
    background-color: #f0f0f0;
}

.box-hidden-on-left {
    margin-left: -1200px;
    width: 100%;
    display: none;
    transition: all ease 0.3s;
}

.form-range-slider {
    cursor: pointer;
    -webkit-appearance: none; /* Remove default styling */
    width: 100%;
    height: 6px;
    background: #f0f0f0;
    border-radius: 99px;
    outline: none;
    transition: all ease 0.3s;
}
.form-range-slider-xl {
    height: 10px;
}
.form-range-slider:hover,
.form-range-slider:active {
    background: #e0e0e0;
}
/* G Chrome, iOS */
.form-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: #2b2b2b;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    /* Align thumb with track */
}
/* Moz Firefox */
.form-range-slider::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #2b2b2b;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
/* Microsoft Edge */
.form-range-slider::-ms-thumb {
    height: 12px;
    width: 12px;
    background: #2b2b2b;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.form-range-slider-xl::-webkit-slider-thumb {
    height: 19px;
    width: 19px;
    /* Align thumb with track */
}
/* Moz Firefox */
.form-range-slider-xl::-moz-range-thumb {
    height: 19px;
    width: 19px;
}
/* Microsoft Edge */
.form-range-slider-xl::-ms-thumb {
    height: 19px;
    width: 19px;
}

.dropdown-menu {
    border-radius: 10px;
    max-width: 290px;
    padding: 6px;
    border: 1px solid #f0f0f0;
    background-color: rgba(248, 249, 250, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.dropdown-item {
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    color: #2b2b2b;
    transition: all ease 0.3s;
}
.dropdown-item:hover,
.dropdown-item:active {
    background-color: #f0f0f0;
}

.image-preview-box {
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.image-preview-box:hover,
.image-preview-box:active {
    background-color: #f0f0f0;
}
.image-preview {
    object-fit: contain;
    height: 240px;
    width: 100%;
    border-radius: 10px;
    transition: all ease 0.3s;
}

.btn-reorder-style {
    cursor: pointer;
    width: 45px;
    font-size: 13px;
    background-color: #2b2b2b;
    color: #fdfdfd;
    border-radius: 12px;
    transition: all ease 0.3s;
}
.btn-reorder-style:hover,
.btn-reorder-style:active {
    color: #2b2b2b;
    background-color: #f8f9fa;
}

.btn-close {
    padding: 4px;
    cursor: pointer;
    border-radius: 99px;
    font-weight: bold;
    transition: all ease 0.3s;
    background-color: #fdfdfd;
    color: #2b2b2b;
}
.btn-close:hover,
.btn-close:active {
    background-color: #f8f9fa;
}

.btn-text-covered {
    padding: 0;
    color: #6c757d;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
    transition: all ease 0.3s;
}
.btn-text-covered:hover,
.btn-text-covered:active {
    color: #6c757d;
    background-color: #f8f9fa;
}

.code-similar-font {
    font-family: "Courier New", Courier, monospace;
}

.hr-styled {
    border-radius: 0;
    border: 0;
    width: 100%;
    border-top: 1px solid #f0f0f0;
}

.form-control {
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}
.form-control:hover,
.form-control:active {
    background-color: #f8f9fa;
}
.form-control:focus {
/*    box-shadow: none;*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 16px rgba(43, 43, 43, 0.25);
    border-color: #f0f0f0;
}
.form-textarea {
    min-height: 50px;
    overflow: hidden;
    resize: none;
}
.form-textarea-box {
    padding: 6px;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}

.form-length-indicator-box {
    padding: 3px;
    background-color: #f0f0f0;
    border-radius: 10px;
    color: black;
    transition: all ease 0.3s;
}
.form-length-indicator-box:hover,
.form-length-indicator-box:active {
    background-color: #f8f9fa;
}

.form-control-for-numbers-only {
    cursor: pointer;
    font-size: 24px;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}
.form-control-for-numbers-only:hover,
.form-control-for-numbers-only:active {
    background-color: #f8f9fa;
}

.form-control-search-container {
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}
.form-control-search-container i {
    position: absolute;
    margin-left: 9px;
    margin-top: 11px;
    color: gray;
    pointer-events: none;
}
.form-control-search {
    padding-left: 35px;
    border: 0;
    background-color: transparent;
    width: 100%;
    transition: all ease 0.3s;
}
.form-control-search:hover,
.form-control-search:active {
    background-color: #f0f0f0;
}

.form-status-span {
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    color: black;
    background-color: #f0f0f0;
    transition: all ease 0.3s;
}
.form-status-span:hover,
.form-status-span:active {
    background-color: #f8f9fa;
}

.track-preview-box {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    transition: all ease 0.24s;
}

.badge-standard {
    padding: 3px 10px 3px 10px;
    font-weight: normal;
    border-radius: 6px;
    background-color: #e0e0e0;
    color: #2b2b2b;
    transition: all ease 0.24s;
}
.badge-sm {
    padding: 2px 8px 4px 8px;
    font-size: 13px;
    font-weight: normal;
    border-radius: 6px;
    background-color: #f0f0f0;
    color: #2b2b2b;
    transition: all ease 0.24s;
}

.x-row-sliding-only-box {
    overflow-y: hidden;
    overflow-x: scroll;
}
.x-row-sliding-only-box::-webkit-scrollbar {
    display: none;
}

.box-sticky-at-bottom {
    z-index: 1000;
    height: auto;
    min-height: 75px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    bottom: -1200px; /*56px - on open*/
    background-color: white;
    display: none; /*flex - on open*/
    justify-content: center;
    position: sticky;
    width: 100%;
    transition: all ease 0.3s;
}

.box-sticky-at-bottom-header {
    padding: 2px 3px 3px 3px;
    border-radius: 10px 10px 0 0;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    transition: all ease 0.3s;
}

.btn-sticky-at-bottom {
    margin-top: 10px;
    cursor: pointer;
    z-index: 1000;
    padding: 6px;
    border: 1px solid #f0f0f0;
    color: #2b2b2b;
    background-color: white;
    bottom: 8px;
    width: 85%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: sticky;
    transition: all ease 0.24s;
}
.btn-sticky-at-bottom:hover,
.btn-sticky-at-bottom:active {
    background-color: #f0f0f0;
}

.super-disabled {
    pointer-events: none;
    opacity: 0.55;
}

.w-50-lg {
    width: 50%;
}

.fw-500 {
    font-weight: 500;
}
.hidden {
    display: none;
    bottom: -1200px;
}

.profile-avatar {
    height: 85px;
    width: 85px;
    font-size: 55px;
    background-color: white;
    color: #2b2b2b;
    text-align: center;
    content: '<i class="fa-solid fa-face-smile"></i>';
    border-radius: 99px;
    transition: all ease 1s;
}
.profile-avatar-sm {
    height: 28px;
    width: 28px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #f8f9fa;
    color: #2b2b2b;
    border-radius: 99px;
    transition: all ease 1s;
}

.profile-avatar-img {
    height: 85px;
    width: 85px;
    border-radius: 99px;
    object-fit: cover;
    transition: all ease 0.4s;
}
.profile-avatar-img-sm {
    height: 28px;
    width: 28px;
    border-radius: 99px;
    object-fit: cover;
    transition: all ease 0.4s;
}
.profile-avatar-img-enlarged {
    height: auto;
    min-height: 250px;
    max-height: 400px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all ease 0.4s;
}
.profile-avatar-bg {
    padding: 8px;
    min-height: 250px;
    height: auto;
    background-image: none;
    background-color: transparent;
    border-radius: 10px 10px;
    object-fit: cover;
    transition: all ease 0.75s;
}
.profile-info-box {
    padding: 8px;
    border-radius: 10px 10px 0 0;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.profile-counter-slider {
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #f0f0f0;
    transition: all ease 0.3s;
}

.btn-profile-tag {
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
    background-color: transparent;
    width: auto;
    border: 1px solid #f0f0f0;
    transition: all ease 0.3s;
}
.btn-profile-tag:hover,
.btn-profile-tag:active {
    background-color: #f0f0f0;
}

.track-table-box {
    margin-top: 6px;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #f0f0f0;
    background-color: transparent;
    transition: all ease 0.24s;
}
.track-table-box:hover,
.track-table-box:active {
    border-bottom: 1px solid transparent;
    border-radius: 10px;
    background-color: #f0f0f0;
}
.btn-track-table {
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;
    border: 0;
    transition: all ease 0.24s;
}
.btn-track-table:hover,
.btn-track-table:active {
    background-color: #e0e0e0;
    border-radius: 99px;
}

.btn-borderless-profile-tag {
    cursor: pointer;
    padding: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    border-radius: 8px;
    width: auto;
    background-color: transparent;
    transition: all ease 0.24s;
}
.btn-borderless-profile-tag:hover,
.btn-borderless-profile-tag:active {
    background-color: #f0f0f0;
}

.profile-tag:hover,
.profile-tag:active {
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}

.date-box {
    width: 100%;
    min-height: 240px;
    max-height: 370px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    transition: all ease 0.24s;
}
.date-box::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.form-check-input {
    transition: all ease 0.3s;
}
.form-check-input:focus {
    border-color: #2b2b2b; /* Adjust border color on focus */
    box-shadow: 0 0 0 0.125rem rgba(43, 43, 43, 0.25); /* Adjust focus shadow */
}
.form-check-input:checked {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.separator-standard {
    border-top: 1px solid #e0e0e0;
    border-radius: 0;
}
.separator-bright {
    border-top: 1px solid #f0f0f0;
    border-radius: 0;
}

.box-inshadowed {
    padding: 6px;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all ease 0.3s;
}

.release-box-lg {
    padding: 8px;
    border-radius: 10px;
    background-color: #f8f9fa;
    transition: all ease 0.3s;
}
.release-img-lg {
    border-radius: 6px;
    height: 215px;
    width: 215px;
    object-fit: cover;
    transition: all ease 0.24s;
}
.release-img-box-lg {
    border-radius: 8px;
    height: 215px;
    width: 215px;
    font-size: 135px;
    text-align: center;
    background-color: #f0f0f0;
    transition: all ease 0.24s;
}
.btn-release-title {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #2b2b2b;
    border-radius: 10px;
    transition: all ease 0.24s;
} 
.btn-release-title:hover,
.btn-release-title:active {
    background-color: #e0e0e0;
}

.rounded-af {
    border-radius: 99px !important;
}

.dropdown-item {
    white-space: normal;
}

.release-box {
    width: 40%;
    max-width: 40%;
    background-color: #f8f9fa;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
    transition: all ease 0.24s;
}
.release-box:hover,
.release-box:active {
    background-color: #e0e0e0;
}
.release-img {
    border-radius: 8px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.24s;
}
.release-img-box {
    border-radius: 8px;
    height: 150px;
    width: 100%;
    font-size: 85px;
    text-align: center;
    background-color: #f0f0f0;
    transition: all ease 0.24s;
}

.release-img-sm {
    border-radius: 8px;
    height: 45px;
    width: 45px;
    object-fit: cover;
    transition: all ease 0.24s;
}
.release-img-box-sm {
    padding: 4px;
    border-radius: 8px;
    height: 45px;
    width: 45px;
    font-size: 26px;
    text-align: center;
    background-color: #f0f0f0;
    transition: all ease 0.24s;
}

.playlist-box {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #2b2b2b;
    border-radius: 8px 8px 0 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    transition: all ease 0.24s;
}
.playlist-box:hover,
.playlist-box:active {
    background-color: #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 8px;
}

.explicit-span {
    padding: 1px 9px 2px 9px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: black;
    font-weight: 500;
    transition: all ease 0.24s;
}

.artist-name-span {
    padding: 0;
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.24s;
}
.artist-name-span:hover,
.artist-name-span:active {
    opacity: 0.925;
    padding-left: 2px;
}

.artist-search-span {
    cursor: pointer;
    text-decoration: none;
    transition: all ease 0.24s;
}
.artist-search-span:hover,
.artist-search-span:active {
    text-decoration: underline;
}

.bg-chosen {
    background-color: #2b2b2b;
}
.bg-chosen-bright {
    background-color: #f0f0f0;
}

.char-indicator-empty {
    height: 15px;
    width: 15px;
    background-color: #f0f0f0;
    border-radius: 99px;
    display: inline-block;
    transition: all ease 0.24s;
}
.char-indicator-active {
    height: 15px;
    width: 15px;
    border-radius: 99px;
    transition: all ease 0.24s;
    display: inline-block;
    background-color: #2b2b2b;
}

.box-inside {
    transition: all ease 0.28s;
}

.box-swithcable {
    transition: all ease 0.3s;
}

.box-switcher {
    padding: 1px;
    background-color: white;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-box-switcher-member {
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    background-color: white;
    color: black;
    transition: all ease 0.3s;
}
.btn-box-switcher-member:hover,
.btn-box-switcher-member:active {
    background-color: #f0f0f0;
}
.btn-box-switcher-member-active {
    background-color: #f8f9fa;
}

.box-vertical-switcher {
    z-index: 1000;
    padding: 8px;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #fdfdfd;
    border: 1px solid #f0f0f0;
    width: auto;
    border-radius: 10px;
    bottom: -1200px;
    display: none;
    position: fixed;
    transition: all ease 0.3s;
}
.btn-box-vertical-swticher {
    margin-bottom: 3px;
    cursor: pointer;
    text-align: start;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-weight: 500;
    display: block;
    transition: all ease 0.24s;
}
.btn-box-vertical-swticher:hover,
.btn-box-vertical-swticher:active {
    background-color: #f8f9fa;
}
.btn-box-vertical-swticher-active {
    background-color: #f0f0f0;
}

.box-btn-group {
    padding: 6px;
    border-radius: 10px;
    width: 100%;
}
.box-btn-group-member-icon {
    padding: 5px;
    font-size: 17px;
    width: 30px;
    border-radius: 10px;
}
.box-btn-group-member {
    cursor: pointer;
    padding: 6px 12px 6px 6px;
    background-color: #f8f9fa;
    color: black;
    width: 100%;
    transition: all ease 0.3s;
}
.box-btn-group-member:hover,
.box-btn-group-member:active {
    background-color: #f0f0f0;
}
.box-btn-group-top-member {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #f0f0f0;
}
.box-btn-group-mid-member {
    border-radius: 0;
    border-bottom: 1px solid #f0f0f0;
}
.box-btn-group-bot-member {
    border-radius: 0 0 10px 10px;
    border: none;
}
.box-btn-group-solo-member {
    border-radius: 10px;
    border: none;
}

.ongaku-alert {
    z-index: 10001;
    background-color: #2B2B2B;
    border-radius: 10px;
    bottom: -1200px;
    position: fixed;
    display: none;
    transition: all ease 0.3s;
}
.ongaku-alert-inner {
    padding: 8px;
}
.btn-ongaku-alert {
    cursor: pointer;
    background-color: #fdfdfd;
    color: black;
    border-radius: 10px;
    transition: all ease 0.3s;
}
.btn-ongaku-alert:hover,
.btn-ongaku-alert:active {
    background-color: #fdfdfd;
}
.ongaku-alert-icon {
    color: #fdfdfd;
    transition: all ease 0.3s;
}
.ongaku-alert-text {
    color: #fdfdfd;
    transition: all ease 0.3s;
}
.ongaku-alert-timer {
    background-color: #fdfdfd;
    height: 4px;
    border-radius: 10px;
    width: 0;
    transition: all ease 0.001s;
}

.d-touch-none {
    display: none;
}
/*.d-touch-block {
    display: block;
}
.d-touch-inline-block {
    display: inline-block;
}*/
.d-no-touch-none {
    display: none;
}
/*.d-no-touch-block {
    display: block;
}
.d-no-touch-inline-block {
    display: inline-block;
}*/

@media (min-width: 1025px) and (pointer: coarse) {
    /* Likely a touch device (e.g. phones, tablets) */
/*    .d-no-touch-block {
        display: none;
    }
    .d-no-touch-inline-block {
        display: none;
    }*/
    .d-touch-none {
        display: none;
    }
    .d-no-touch-none {
        display: inline-block;
    }
}

@media (min-width: 1024px) and (pointer: fine) {
    /* Likely a mouse or stylus (precise pointing) */
    .d-touch-none {
        display: inline-block;
    }
    .d-no-touch-none {
        display: none;
    }
}

.text-chosen {
    color: #2b2b2b;
    opacity: 1;
}
.text-unchosen {
    color: #2b2b2b;
    opacity: 0.7;
}

.fa-layers-counter {
    font-weight: 500;
    transition: all ease 0.24s;
}

.white-space-on {
    white-space: pre-wrap;
}

.tooltip-standard {
    z-index: 10000;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

.ongaku-img-box {
    width: auto;
}

@media (max-width: 1024px) {
    .div-swiper {
        height: 6px;
    }
    .w-50-lg {
        width: 100%;
    }
    .ongaku-player-album-img-enlarged {
        width: 100%;
        height: 195px;
    }
    .ongaku-player-album-box-enlarged {
        width: 100%;
        height: 195px;
        font-size: 125px;
    }
    .ongaku-img-box {
        width: 100%;
    }
    .release-box {
        width: 50%;
        max-width: 50%;
    }
    .badge-sm {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .ongaku-player-album-img-enlarged {
        width: 100%;
        height: 250px;
        margin: auto;
    }
    .ongaku-player-album-box-enlarged {
        width: 100%;
        height: 250px;
        font-size: 155px;
        margin: auto;
    }
    .ongaku-img-box {
        width: 100%;
    }
    .release-box {
        width: 55%;
        max-width: 55%;
    }
    .badge-sm {
        font-size: 10px;
    }
}